
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Tablet Tour : PRO</title>
    <link rel="stylesheet" href="../css/main.css">
  </head>
  <body>
  <div class="wrapper">
    <div class="image">
      <img src="../images/aardappeleters.jpg" alt="aardappeleters">
    </div>

    <h1>Aardappeleter</h1>


    <div class="text">
      <p>Donec efficitur nulla id hendrerit pharetra. Phasellus
        vehicula ante auctor lacus porta imperdiet. Donec nisl ligula,
        aliquet ut tempor ac, imperdiet ac tellus. Integer et lorem mole
        stie, facilisis sem nec, fringilla libero. Aliquam sed lorem sit amet
        massa rhoncus varius et at tellus. Aenean non orci auctor dui tincidunt ultricies.
        Vivamus ut quam lacus. Phasellus consectetur tortor sit amet dignissim semper.</p>
    </div>
    <footer>
      <p>Mike Rhodens | Quenten Brouwer | Joel Mik</p>
    </footer>
</div>
  </body>
</html>
