
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Tablet Tour : PRO</title>
    <link rel="stylesheet" href="../css/main.css">
  </head>
  <body>
  <div class="wrapper">

    <h1>Contact</h1>

    <div class="navigation">
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Tour</a></li>
        <li><a href="#">Images</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>

    <div class="contact-info">
      <h3>heb je vragen of opmerkingen over het museum of over de website?
      Stuur een brief, mail, tweet of bel ons.</h3>
      <h3>Contactgegevens</h3>
      <p>Voor algemene informatie over het museum, de collectie,
      ons programma en onze activiteiten:</p>
      <p>T (020) 570 52 00</p>
      <p>E <a href="#">info@vangoghmuseum.nl</a></p>
      <h3>Bezoekadres</h3>
      <p>Museumplein 6</p>
      <p>1071 DJ Amsterdam</p>
      <h3>Postadres</h3>
      <p>Van Gogh Museum</p>
      <p>Postbus 75366</p>
      <p>1070 AJ Amsterdam</p>
    </div>

    <footer>
      <p>Mike Rhodens | Quenten Brouwer | Joel Mik</p>
    </footer>
</div>
  </body>
</html>
